{% extends "basic_template.html" %}

{% block content %}
<!-- Блок основного контента -->
<br>
<div class="container-fluid content-base-color">
    <div class="row border border-grey">

        <!-- Поле перехода наверх -->
        <div class="col-1 border border-grey">
            <p>поле для перехода вверх</p>
        </div>

        <!-- Поле основного контента -->
        <div class="col-9 border border-grey">
            <br>
            <p>Заметка1</p>
            <hr>
            <p>Заметка1</p>
            <hr>
            <p>Заметка1</p>
            <hr>
            <p>Заметка1</p>
        </div>

        <!-- Поле облака тегов -->
        <div class="col-2 border border-grey">
            <p>
            <a href="#">Linux</a>
            <a href="#">Python</a>
            <a href="#">OpenVPN</a>
            <a href="#">VIM</a>
            <a href="#">Django</a>
            <a href="#">CSS</a>
            </p>
        </div>
    </div>
</div>
<!-- Конец блока основного контента -->
{% endblock %}
