{% extends "basic_template.html" %}

{% block content %}
<!-- Блок основного контента -->
<br>
<div class="container-fluid content-base-color">
    <div class="row border border-grey">

        <!-- Поле перехода наверх -->
        <div class="col-1 border border-grey">
            <p>поле для перехода вверх</p>
        </div>

        <!-- Поле основного контента -->
        <div class="col-9 border border-grey">
            <hr>
            {% for note in notes_list %}
                <p class="note-head">{{ note.title }}</p>
                <p>{{ note.content }}</p>
                <hr>
                {% endfor %}
        </div>

        <!-- Поле облака тегов -->
        <div class="col-2 border border-grey">
            <p>
            {% for tag in tags_list %}
                {{ tag.name }}
                {% endfor %}
            </p>
        </div>
    </div>
</div>
<!-- Конец блока основного контента -->
{% endblock %}
