/* хедер */
head, h1 {
    margin-top: 10px;
    font: italic small-caps bold 60px/2 cursive;
    text-transform: uppercase;
    text-align: center;
    background: url("/static/logo.jpg") left / auto 100% no-repeat;
}



/* body */
.body-base-color{
    background: #BDB76B;
}

.border-grey{
    border-color: #BDB76B !important;
}



/* панель навигации */
.navbar-base-color{
    background: #F0E68C;
    color: #778899;
}

.nav-link , .navbar-brand{
 color: #778899;
 cursor: pointer;
}

.nav-link{
 margin-right: 1em !important;
}

.nav-link:hover{
 background: #778899;
 color: #F0E68C;
}

.navbar-collapse{
 justify-content: flex-end;
}

.navbar-toggler{
  background:#fff !important;
}

.dropdown-menu-color{
    background: #F0E68C;
    color: #778899;
}

.dropdown-item-color{
    background: #F0E68C;
    color: #778899;
}

.dropdown-item-color:hover{
    background: #778899;
    color: #F0E68C;
}



/* надоело искать где там цвет подменяется на зеленый,
залочил вообще все цвета */
.navbar-search-button-color{
    background: #F0E68C !important;
    border-color: #778899 !important;
    color: #778899 !important;
}

.navbar-search-button-color:hover{
    background: #778899 !important;
    border-color: #F0E68C !important;
    color: #F0E68C !important;
}

.navbar-search-button-color:focus{
    background: #BDB76B !important;
    color: ##778899 !important;
    border-color: #778899 !important;
    box-shadow: none !important;
    outline: none !important;
}

.navbar-search-button-color:active{
    background: #F0E68C !important;
    border-color: #778899 !important;
    color: #778899 !important;
    box-shadow: none !important;
    outline: none !important;
}

.navbar-search-field-color{
    background: #EEE8AA !important;
    color: #778899 !important;
}




/* основной блок */
.content-base-color{
    background: #F0E68C;
    color: #778899;
}

/* карточка записки и тэги */
.card-light-color{
    background: #EEE8AA;
    color: #778899;
}
.card-dark-color{
    background: #BDB76B;
    color: #778899;
}

.tag-button-color{
    background: #EEE8AA !important;
    border-color: #778899 !important;
    color: #778899 !important;
}

.tag-button-color:hover{
    background: #778899 !important;
    border-color: #EEE8AA !important;
    color: #EEE8AA !important;
}

.tag-button-color:focus{
    background: #EEE8AA !important;
    color: ##778899 !important;
    border-color: #778899 !important;
    box-shadow: none !important;
    outline: none !important;
}

.tag-button-color:active{
    background: #EEE8AA !important;
    border-color: #778899 !important;
    color: #778899 !important;
    box-shadow: none !important;
    outline: none !important;
}


/* футер */
.footer-base-color{
    background: #F0E68C;
    color: #778899;
}

.footer-link{
    color: #778899;
    text-decoration: underline dotted;
}




/* стили заметок */

.note-head{
    font: italic small-caps bold 20px/2 fantasy;
}



#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #BDB76B; /* Set a background color */
    color: #778899; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #FFE4B5; /* Add a dark-grey background on hover */
}
