{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Заметки</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='slim' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body class="container-fluid body-base-color">
        <h1 class="page-header">Заметки</h1>

        <!-- блок для горизонтальной навигации -->
        {% block horizontal_nav %}
        {% endblock %}

        <!-- блок для основного контента -->
        {% block body_block %}
        {% endblock %}

        <!-- Блок футера -->
        {% block footer_block %}
        {% endblock %}

    </body>
</html>



